<!doctype html>
<html lang="{{ site.lang | default: 'en' }}">
  <head>
    <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ page.excerpt | strip_html | truncate: 160 | default: site.description }}" />
    <link rel="shortcut icon" href="{{ '/favicon.ico' | relative_url }}" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="{{ '/assets/css/devdesk.css' | relative_url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/index.css' | relative_url }}" />
  </head>
  <body>
    <div class="page-header-wrapper">
      <div class="page-header-bg-pattern-holder">
        <div class="bg-pattern-top"></div>
        <div class="bg-pattern-bottom"></div>
      </div>

      <header class="header">
        <div class="container">
          <nav class="navbar navbar-expand-lg" aria-label="Main navigation">
            <div class="site-logo me-3">
              <a class="navbar-brand" href="{{ '/' | relative_url }}" aria-label="{{ site.title }} home">
                <img class="logo-icon" src="{{ '/assets/images/site-logo.svg' | relative_url }}" alt="{{ site.title }} logo" />
              </a>
            </div>

            <button
              class="navbar-toggler collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navigation"
              aria-controls="navigation"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span></span>
              <span></span>
              <span></span>
            </button>

            <div class="collapse navbar-collapse ms-auto" id="navigation">
              <ul class="navbar-nav ms-auto align-items-lg-center">
                {% for item in site.nav_links %}
                  {% assign is_external = false %}
                  {% if item.url contains 'http' %}{% assign is_external = true %}{% endif %}
                  <li class="nav-item me-lg-4">
                    <a
                      class="nav-link"
                      href="{% if is_external %}{{ item.url }}{% else %}{{ item.url | relative_url }}{% endif %}"
                      {% if is_external %}target="_blank" rel="noopener noreferrer"{% endif %}
                    >
                      {{ item.label }}
                      {% if is_external %}
                         <i class="bi bi-box-arrow-up-right ms-1 nav-external-icon align-middle" aria-hidden="true"></i>
                      {% endif %}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </nav>
        </div>
      </header>

      <div class="page-heading-holder">
        <div class="container text-center">
          <h1 class="page-heading mb-3">{{ site.title }}</h1>
          <div class="page-heading-sub single-col-max mx-auto">
            <div class="help-search-intro">{{ site.hero_subheading | default: site.description }}</div>
            <div class="help-search-main pt-3 d-block mx-auto">
              <form class="search-form w-100" onsubmit="return false;" role="search" aria-label="Search articles">
                <input id="post-search" type="text" placeholder="Search articles..." name="search" class="form-control search-input" />
                <button type="submit" class="btn search-btn" value="Search" aria-label="Search articles">
                  <svg width="16px" height="16px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                    <path
                      fill="#FFFFFF"
                      fill-rule="nonzero"
                      d="M11.7297644,1.56712981 C9.1503137,-0.644294379 5.30290309,-0.496046815 2.90126795,1.90730746 C0.499632815,4.31066174 0.354138355,8.15817744 2.56740774,10.7360451 C4.78067712,13.3139128 8.60590394,13.7523024 11.345,11.742 L11.344,11.742 C11.3733333,11.782 11.406,11.8203333 11.442,11.857 L15.292,15.707 C15.6824653,16.0977414 16.3157585,16.0979653 16.7065,15.7075 C17.0972414,15.3170347 17.0974653,14.6837415 16.707,14.293 L12.857,10.443 C12.8212661,10.40679 12.7828212,10.3733596 12.742,10.343 C14.7503419,7.60346614 14.3092152,3.778554 11.7297644,1.56712981 Z M9.75000002,10.3971144 C8.35769516,11.200962 6.64230484,11.200962 5.24999998,10.3971144 C3.85769513,9.5932668 2.99999998,8.10769519 3,6.50000001 C3.00000004,4.01471867 5.01471865,2.00000008 7.5,2.00000008 C9.98528135,2.00000008 12,4.01471867 12,6.50000001 C12,8.10769519 11.1423049,9.5932668 9.75000002,10.3971144 Z"
                    ></path>
                  </svg>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <main>{{ content }}</main>

    <footer class="footer text-center py-4">
      <a  href="{{ '/' | relative_url }}" aria-label="{{ site.title }} home">
        <img class="logo-icon" src="{{ '/assets/images/site-logo.svg' | relative_url }}" alt="{{ site.title }} logo" />
      </a>
    </footer>

    <script src="{{ '/assets/plugins/popper.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/plugins/bootstrap/js/bootstrap.min.js' | relative_url }}"></script>
    <script defer src="{{ '/assets/js/site.js' | relative_url }}"></script>
  </body>
</html>
